@model LoginUser

<div class="container">
	<div class="d-flex justify-content-center">
		<div class="card border border-info">
			<div class="card-header bg-info text-light border">
				<h3>Login</h3>
			</div>
			<div class="card-body">
				<form action="Login" method="post">
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-envelope-square"></i></span>
						</div>
						<input asp-for="LUsername" class="form-control" placeholder="email">
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input asp-for="LPassword" class="form-control" placeholder="password">
					</div>
					<div class="form-group">
						<input type="submit" value="Login" class="btn btn-primary float-right">
					</div>
				</form>
			</div>
			<div class="card-footer text-center">
                <span asp-validation-for="LUsername" class="text-danger row"></span>
                <span asp-validation-for="LPassword" class="text-danger row"></span>
			</div>
		</div>
	</div>
</div>